
.mob{
    height: 90%;
    width: 45%;
    position: relative;
}

.lst{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}